* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Sansita Swashed', cursive; */
}

/* body */
body {
    background-color: black; 
    /* animation: fadeInAnimation ease 2s;  */
    /* animation-iteration-count: 1;  */
    /* animation-fill-mode: forwards;  */
}  
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

/* pre loader */
.loader_main {
    width: 100vw;
    height:100vh;
    background-color: #000;
    display: grid;
    place-items: center;
    z-index: 9999999;
}

.center_div {
    /* display: grid;
    place-items: center; */
    width: 15rem;
    height: 15rem;
    position: relative;
    
}

.rot {
    position: absolute;
    width: 15rem;
    height: 15rem;
    /* background-color: white; */
    border-right: 0.3rem solid white;
    border-radius: 50%;
    animation: rot 2s infinite linear;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* nav bar */
.header {
    height: 50px;
    padding: 10px;
    background-color:blue;
}
.header ul {
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.header ul li {
    color: white;
    padding: 10px;
    display: inline;

}

/* media player */

.media_player {
    padding: 100px;
    
}

.player {
    
}

.main_player {
    margin: auto;
    display: block;
}